name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Flutter build
    steps:
      - name: Flutter build
        uses: Techno-Disaster/Flutter-Mate@v1.0.0
