name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Flutter build
    steps:
      - name: Flutter build
        uses: subosito/flutter-action@v1.4.0
