name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Flutter build
    steps:
      - name: Flutter build
        uses: jddeep/Flutter-Runner@1.2.0
